.device-title {
  margin: 5px 0;
}

.device-name {
  font-size: 130%;
  font-weight: bold;
  margin-right: 10px;
}

.device-id {
  color: #aaa;
}

.device-browsers {
  margin-bottom: 20px;
}

.browser {
  margin-top: 5px;
}

.browser-title {
  font-size: 110%;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

.browser-open {
}

.target-bucket {
  margin-top: 10px;
}

.target-bucket-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.target {
  margin-left: 8px;
  margin-bottom: 10px;
}

.target img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.target-actions {
  margin-left: 26px;
}

.target-actions span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 8px;
}
