body {
  margin: 0;
  padding: 0;
}

#device-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 10px;
  border: 1px solid #ccc;
}

#header {
  position: absolute;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
}

#devices {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-row {
  height: 18px;
  padding: 5px;
  display: flex;
}

.table-row :first-child {
  flex: 1;
  min-width: 100px;
}

.table-row :not(:first-child) {
  flex: 0;
  min-width: 70px;
  text-align: center;
}

#controls {
  position: absolute;
  padding: 5px 10px;
  bottom: 0;
  height: 20px;
  left: 0;
  right: 0;
}

label {
  margin-right: 10px;
}

.dim:not(:hover) {
  opacity: 0.5;
}
